;; Copyright (c) Cognitect, Inc.
;; All rights reserved.

{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/core.async    {:mvn/version "1.5.648"}
           org.clojure/tools.logging {:mvn/version "1.2.4"}
           org.clojure/data.json     {:mvn/version "2.4.0"}
           org.clojure/data.xml      {:mvn/version "0.2.0-alpha6"}
           com.cognitect/http-client {:mvn/version "1.0.110"}}
 :aliases {:update-versions {:extra-paths ["build/src"]
                             :main-opts   ["-m" "cognitect.aws.version-updater"]}
           :dev             {:extra-paths ["dev/src" "dev/resources" "test/src" "test/resources"]
                             :extra-deps  {commons-io/commons-io       {:mvn/version "2.8.0"}
                                           org.clojure/test.check      {:mvn/version "1.1.1"}
                                           org.slf4j/slf4j-log4j12     {:mvn/version "1.7.30"}
                                           http-kit/http-kit           {:mvn/version "2.5.0"}
                                           com.cognitect.aws/endpoints {:mvn/version "1.1.11.926"}
                                           com.cognitect.aws/s3        {:mvn/version "810.2.817.0"}}}
           :test            {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                             :main-opts  ["-m" "cognitect.test-runner"]}
           :examples        {:extra-paths ["examples" "examples/resources" "dev/resources"]
                             :extra-deps  {org.clojure/test.check     {:mvn/version "1.1.0"}
                                           org.slf4j/slf4j-log4j12    {:mvn/version "1.7.30"}
                                           com.cognitect.aws/dynamodb {:mvn/version "810.2.801.0"}
                                           com.cognitect.aws/ec2      {:mvn/version "810.2.817.0"}
                                           com.cognitect.aws/iam      {:mvn/version "801.2.704.0"}
                                           com.cognitect.aws/lambda   {:mvn/version "810.2.817.0"}
                                           com.cognitect.aws/ssm      {:mvn/version "810.2.817.0"}
                                           com.cognitect.aws/sts      {:mvn/version "809.2.784.0"}}}}}
