{:releases
 {com.cognitect.aws/api "0.8.171",
  com.cognitect.aws/endpoints "1.1.11.479",
  :services
  {com.cognitect.aws/AWSMigrationHub "668.2.364.0",
   com.cognitect.aws/acm "668.2.364.0",
   com.cognitect.aws/acm-pca "684.2.382.0",
   com.cognitect.aws/alexaforbusiness "684.2.377.0",
   com.cognitect.aws/amplify "668.2.364.0",
   com.cognitect.aws/apigateway "668.2.364.0",
   com.cognitect.aws/apigatewaymanagementapi "684.2.382.0",
   com.cognitect.aws/apigatewayv2 "684.2.382.0",
   com.cognitect.aws/application-autoscaling "668.2.364.0",
   com.cognitect.aws/appmesh "675.2.368.0",
   com.cognitect.aws/appstream "668.2.364.0",
   com.cognitect.aws/appsync "668.2.364.0",
   com.cognitect.aws/athena "668.2.364.0",
   com.cognitect.aws/autoscaling "668.2.364.0",
   com.cognitect.aws/autoscaling-plans "668.2.364.0",
   com.cognitect.aws/batch "668.2.364.0",
   com.cognitect.aws/budgets "668.2.364.0",
   com.cognitect.aws/ce "680.2.371.0",
   com.cognitect.aws/chime "668.2.364.0",
   com.cognitect.aws/cloud9 "668.2.364.0",
   com.cognitect.aws/clouddirectory "668.2.364.0",
   com.cognitect.aws/cloudformation "684.2.377.0",
   com.cognitect.aws/cloudfront "668.2.364.0",
   com.cognitect.aws/cloudhsm "668.2.364.0",
   com.cognitect.aws/cloudhsmv2 "668.2.364.0",
   com.cognitect.aws/cloudsearch "668.2.364.0",
   com.cognitect.aws/cloudsearchdomain "668.2.364.0",
   com.cognitect.aws/cloudtrail "668.2.364.0",
   com.cognitect.aws/codebuild "680.2.372.0",
   com.cognitect.aws/codecommit "668.2.364.0",
   com.cognitect.aws/codedeploy "668.2.364.0",
   com.cognitect.aws/codepipeline "668.2.364.0",
   com.cognitect.aws/codestar "668.2.364.0",
   com.cognitect.aws/cognito-identity "668.2.364.0",
   com.cognitect.aws/cognito-idp "684.2.381.0",
   com.cognitect.aws/cognito-sync "668.2.364.0",
   com.cognitect.aws/comprehend "684.2.381.0",
   com.cognitect.aws/comprehendmedical "668.2.364.0",
   com.cognitect.aws/config "668.2.364.0",
   com.cognitect.aws/connect "683.2.374.0",
   com.cognitect.aws/cur "668.2.364.0",
   com.cognitect.aws/datapipeline "668.2.364.0",
   com.cognitect.aws/datasync "668.2.364.0",
   com.cognitect.aws/dax "668.2.364.0",
   com.cognitect.aws/devicefarm "692.2.384.0",
   com.cognitect.aws/devices "668.2.364.0",
   com.cognitect.aws/directconnect "668.2.364.0",
   com.cognitect.aws/discovery "668.2.364.0",
   com.cognitect.aws/dlm "668.2.364.0",
   com.cognitect.aws/dms "668.2.364.0",
   com.cognitect.aws/ds "668.2.364.0",
   com.cognitect.aws/dynamodb "684.2.382.0",
   com.cognitect.aws/ec2 "684.2.380.0",
   com.cognitect.aws/ecr "684.2.378.0",
   com.cognitect.aws/ecs "692.2.384.0",
   com.cognitect.aws/eks "683.2.375.0",
   com.cognitect.aws/elasticache "668.2.364.0",
   com.cognitect.aws/elasticbeanstalk "684.2.379.0",
   com.cognitect.aws/elasticfilesystem "668.2.364.0",
   com.cognitect.aws/elasticloadbalancing "668.2.364.0",
   com.cognitect.aws/elasticloadbalancingv2 "680.2.372.0",
   com.cognitect.aws/elasticmapreduce "668.2.364.0",
   com.cognitect.aws/elastictranscoder "668.2.364.0",
   com.cognitect.aws/email "668.2.364.0",
   com.cognitect.aws/entitlement-marketplace "668.2.364.0",
   com.cognitect.aws/es "668.2.364.0",
   com.cognitect.aws/events "675.2.367.0",
   com.cognitect.aws/firehose "684.2.381.0",
   com.cognitect.aws/fms "668.2.364.0",
   com.cognitect.aws/fsx "673.2.365.0",
   com.cognitect.aws/gamelift "668.2.364.0",
   com.cognitect.aws/glacier "668.2.364.0",
   com.cognitect.aws/globalaccelerator "684.2.379.0",
   com.cognitect.aws/glue "683.2.375.0",
   com.cognitect.aws/greengrass "668.2.364.0",
   com.cognitect.aws/guardduty "668.2.364.0",
   com.cognitect.aws/health "680.2.370.0",
   com.cognitect.aws/iam "681.2.373.0",
   com.cognitect.aws/importexport "668.2.357.0",
   com.cognitect.aws/inspector "668.2.357.0",
   com.cognitect.aws/iot "669.2.363.0",
   com.cognitect.aws/iot-data "668.2.357.0",
   com.cognitect.aws/iot-jobs-data "668.2.357.0",
   com.cognitect.aws/iot1click-projects "668.2.357.0",
   com.cognitect.aws/iotanalytics "692.2.383.0",
   com.cognitect.aws/kafka "675.2.368.0",
   com.cognitect.aws/kinesis "668.2.357.0",
   com.cognitect.aws/kinesis-video-archived-media "668.2.357.0",
   com.cognitect.aws/kinesis-video-media "668.2.357.0",
   com.cognitect.aws/kinesisanalytics "669.2.364.0",
   com.cognitect.aws/kinesisanalyticsv2 "669.2.364.0",
   com.cognitect.aws/kinesisvideo "668.2.357.0",
   com.cognitect.aws/kms "669.2.363.0",
   com.cognitect.aws/lambda "675.2.367.0",
   com.cognitect.aws/lex-models "668.2.357.0",
   com.cognitect.aws/license-manager "675.2.368.0",
   com.cognitect.aws/lightsail "675.2.366.0",
   com.cognitect.aws/logs "669.2.364.0",
   com.cognitect.aws/machinelearning "668.2.357.0",
   com.cognitect.aws/macie "668.2.357.0",
   com.cognitect.aws/marketplacecommerceanalytics "668.2.357.0",
   com.cognitect.aws/mediaconnect "669.2.364.0",
   com.cognitect.aws/mediaconvert "678.2.369.0",
   com.cognitect.aws/medialive "684.2.381.0",
   com.cognitect.aws/mediapackage "668.2.357.0",
   com.cognitect.aws/mediastore "683.2.374.0",
   com.cognitect.aws/mediastore-data "668.2.357.0",
   com.cognitect.aws/mediatailor "680.2.371.0",
   com.cognitect.aws/meteringmarketplace "669.2.364.0",
   com.cognitect.aws/mobile "668.2.357.0",
   com.cognitect.aws/mobileanalytics "669.2.364.0",
   com.cognitect.aws/monitoring "669.2.364.0",
   com.cognitect.aws/mq "680.2.371.0",
   com.cognitect.aws/mturk-requester "669.2.364.0",
   com.cognitect.aws/neptune "669.2.364.0",
   com.cognitect.aws/opsworks "669.2.364.0",
   com.cognitect.aws/opsworkscm "692.2.383.0",
   com.cognitect.aws/organizations "684.2.376.0",
   com.cognitect.aws/pi "669.2.364.0",
   com.cognitect.aws/pinpoint "669.2.364.0",
   com.cognitect.aws/pinpoint-email "684.2.376.0",
   com.cognitect.aws/pinpoint-sms-voice "684.2.382.0",
   com.cognitect.aws/polly "669.2.364.0",
   com.cognitect.aws/pricing "669.2.364.0",
   com.cognitect.aws/quicksight "684.2.378.0",
   com.cognitect.aws/ram "669.2.364.0",
   com.cognitect.aws/rds "680.2.372.0",
   com.cognitect.aws/rds-data "669.2.364.0",
   com.cognitect.aws/redshift "684.2.377.0",
   com.cognitect.aws/rekognition "669.2.364.0",
   com.cognitect.aws/resource-groups "669.2.364.0",
   com.cognitect.aws/resourcegroupstaggingapi "669.2.364.0",
   com.cognitect.aws/robomaker "669.2.364.0",
   com.cognitect.aws/route53 "683.2.375.0",
   com.cognitect.aws/route53domains "669.2.364.0",
   com.cognitect.aws/route53resolver "669.2.364.0",
   com.cognitect.aws/runtime-lex "669.2.364.0",
   com.cognitect.aws/runtime-sagemaker "669.2.364.0",
   com.cognitect.aws/s3 "680.2.370.0",
   com.cognitect.aws/s3control "669.2.364.0",
   com.cognitect.aws/sagemaker "684.2.380.0",
   com.cognitect.aws/sdb "666.2.364.0",
   com.cognitect.aws/secretsmanager "669.2.364.0",
   com.cognitect.aws/securityhub "673.2.365.0",
   com.cognitect.aws/serverlessrepo "675.2.367.0",
   com.cognitect.aws/servicecatalog "681.2.373.0",
   com.cognitect.aws/servicediscovery "675.2.366.0",
   com.cognitect.aws/shield "669.2.364.0",
   com.cognitect.aws/signer "669.2.364.0",
   com.cognitect.aws/sms "669.2.364.0",
   com.cognitect.aws/snowball "669.2.364.0",
   com.cognitect.aws/sns "669.2.364.0",
   com.cognitect.aws/sqs "669.2.364.0",
   com.cognitect.aws/ssm "669.2.364.0",
   com.cognitect.aws/states "684.2.382.0",
   com.cognitect.aws/storagegateway "678.2.369.0",
   com.cognitect.aws/streams-dynamodb "669.2.364.0",
   com.cognitect.aws/sts "669.2.364.0",
   com.cognitect.aws/support "669.2.364.0",
   com.cognitect.aws/swf "669.2.364.0",
   com.cognitect.aws/transcribe "669.2.364.0",
   com.cognitect.aws/transfer "669.2.364.0",
   com.cognitect.aws/translate "669.2.364.0",
   com.cognitect.aws/waf "684.2.380.0",
   com.cognitect.aws/waf-regional "684.2.380.0",
   com.cognitect.aws/workdocs "669.2.364.0",
   com.cognitect.aws/workmail "669.2.364.0",
   com.cognitect.aws/workspaces "669.2.364.0",
   com.cognitect.aws/xray "675.2.367.0"}},
 :last-updated #inst "2019-01-09T05:41:26.860-00:00"}
