{:api {com.cognitect.aws/api "0.8.305"},
 :endpoints {com.cognitect.aws/endpoints "1.1.11.565"},
 :services
 {com.cognitect.aws/AWSMigrationHub "697.2.391.0",
  com.cognitect.aws/acm "715.2.434.0",
  com.cognitect.aws/acm-pca "712.2.422.0",
  com.cognitect.aws/alexaforbusiness "719.2.460.0",
  com.cognitect.aws/amplify "697.2.391.0",
  com.cognitect.aws/apigateway "719.2.461.0",
  com.cognitect.aws/apigatewaymanagementapi "701.2.393.0",
  com.cognitect.aws/apigatewayv2 "711.2.412.0",
  com.cognitect.aws/application-autoscaling "711.2.412.0",
  com.cognitect.aws/appmesh "714.2.430.0",
  com.cognitect.aws/appstream "719.2.458.0",
  com.cognitect.aws/appsync "717.2.451.0",
  com.cognitect.aws/athena "707.2.409.0",
  com.cognitect.aws/autoscaling "712.2.426.0",
  com.cognitect.aws/autoscaling-plans "711.2.413.0",
  com.cognitect.aws/backup "697.2.391.0",
  com.cognitect.aws/batch "717.2.443.0",
  com.cognitect.aws/budgets "719.2.461.0",
  com.cognitect.aws/ce "712.2.419.0",
  com.cognitect.aws/chime "722.2.464.0",
  com.cognitect.aws/cloud9 "707.2.409.0",
  com.cognitect.aws/clouddirectory "697.2.391.0",
  com.cognitect.aws/cloudformation "717.2.442.0",
  com.cognitect.aws/cloudfront "697.2.391.0",
  com.cognitect.aws/cloudhsm "697.2.391.0",
  com.cognitect.aws/cloudhsmv2 "697.2.391.0",
  com.cognitect.aws/cloudsearch "697.2.391.0",
  com.cognitect.aws/cloudsearchdomain "697.2.391.0",
  com.cognitect.aws/cloudtrail "697.2.391.0",
  com.cognitect.aws/codebuild "712.2.418.0",
  com.cognitect.aws/codecommit "722.2.466.0",
  com.cognitect.aws/codedeploy "719.2.463.0",
  com.cognitect.aws/codepipeline "718.2.456.0",
  com.cognitect.aws/codestar "697.2.391.0",
  com.cognitect.aws/cognito-identity "712.2.425.0",
  com.cognitect.aws/cognito-idp "717.2.449.0",
  com.cognitect.aws/cognito-sync "697.2.391.0",
  com.cognitect.aws/comprehend "718.2.455.0",
  com.cognitect.aws/comprehendmedical "697.2.391.0",
  com.cognitect.aws/config "717.2.450.0",
  com.cognitect.aws/connect "697.2.391.0",
  com.cognitect.aws/cur "711.2.411.0",
  com.cognitect.aws/datapipeline "697.2.391.0",
  com.cognitect.aws/datasync "719.2.460.0",
  com.cognitect.aws/dax "697.2.391.0",
  com.cognitect.aws/devicefarm "701.2.395.0",
  com.cognitect.aws/devices "715.2.437.0",
  com.cognitect.aws/directconnect "717.2.446.0",
  com.cognitect.aws/discovery "716.2.440.0",
  com.cognitect.aws/dlm "722.2.465.0",
  com.cognitect.aws/dms "712.2.423.0",
  com.cognitect.aws/docdb "697.2.391.0",
  com.cognitect.aws/ds "707.2.406.0",
  com.cognitect.aws/dynamodb "722.2.470.0",
  com.cognitect.aws/ec2 "722.2.467.0",
  com.cognitect.aws/ecr "701.2.394.0",
  com.cognitect.aws/ecs "722.2.470.0",
  com.cognitect.aws/eks "718.2.452.0",
  com.cognitect.aws/elasticache "722.2.468.0",
  com.cognitect.aws/elasticbeanstalk "712.2.419.0",
  com.cognitect.aws/elasticfilesystem "707.2.406.0",
  com.cognitect.aws/elasticloadbalancing "697.2.391.0",
  com.cognitect.aws/elasticloadbalancingv2 "714.2.430.0",
  com.cognitect.aws/elasticmapreduce "715.2.433.0",
  com.cognitect.aws/elastictranscoder "697.2.391.0",
  com.cognitect.aws/email "722.2.470.0",
  com.cognitect.aws/entitlement-marketplace "697.2.391.0",
  com.cognitect.aws/es "704.2.399.0",
  com.cognitect.aws/events "712.2.426.0",
  com.cognitect.aws/firehose "697.2.391.0",
  com.cognitect.aws/fms "712.2.428.0",
  com.cognitect.aws/fsx "704.2.398.0",
  com.cognitect.aws/gamelift "718.2.443.0",
  com.cognitect.aws/glacier "697.2.391.0",
  com.cognitect.aws/globalaccelerator "697.2.391.0",
  com.cognitect.aws/glue "718.2.453.0",
  com.cognitect.aws/greengrass "715.2.432.0",
  com.cognitect.aws/groundstation "722.2.470.0",
  com.cognitect.aws/guardduty "722.2.470.0",
  com.cognitect.aws/health "697.2.391.0",
  com.cognitect.aws/iam "722.2.468.0",
  com.cognitect.aws/importexport "697.2.391.0",
  com.cognitect.aws/inspector "718.2.443.0",
  com.cognitect.aws/iot "712.2.426.0",
  com.cognitect.aws/iot-data "697.2.391.0",
  com.cognitect.aws/iot-jobs-data "697.2.391.0",
  com.cognitect.aws/iot1click-projects "712.2.427.0",
  com.cognitect.aws/iotanalytics "722.2.466.0",
  com.cognitect.aws/iotevents "722.2.470.0",
  com.cognitect.aws/iotevents-data "722.2.470.0",
  com.cognitect.aws/iotthingsgraph "722.2.470.0",
  com.cognitect.aws/kafka "722.2.466.0",
  com.cognitect.aws/kinesis "697.2.391.0",
  com.cognitect.aws/kinesis-video-archived-media "707.2.408.0",
  com.cognitect.aws/kinesis-video-media "707.2.408.0",
  com.cognitect.aws/kinesisanalytics "718.2.452.0",
  com.cognitect.aws/kinesisanalyticsv2 "718.2.452.0",
  com.cognitect.aws/kinesisvideo "707.2.408.0",
  com.cognitect.aws/kms "718.2.448.0",
  com.cognitect.aws/lambda "718.2.454.0",
  com.cognitect.aws/lex-models "697.2.391.0",
  com.cognitect.aws/license-manager "697.2.391.0",
  com.cognitect.aws/lightsail "712.2.426.0",
  com.cognitect.aws/logs "722.2.470.0",
  com.cognitect.aws/machinelearning "697.2.391.0",
  com.cognitect.aws/macie "697.2.391.0",
  com.cognitect.aws/managedblockchain "718.2.457.0",
  com.cognitect.aws/marketplacecommerceanalytics "697.2.391.0",
  com.cognitect.aws/mediaconnect "722.2.470.0",
  com.cognitect.aws/mediaconvert "718.2.449.0",
  com.cognitect.aws/medialive "718.2.449.0",
  com.cognitect.aws/mediapackage "718.2.456.0",
  com.cognitect.aws/mediapackage-vod "722.2.470.0",
  com.cognitect.aws/mediastore "711.2.410.0",
  com.cognitect.aws/mediastore-data "719.2.463.0",
  com.cognitect.aws/mediatailor "718.2.442.0",
  com.cognitect.aws/meteringmarketplace "719.2.459.0",
  com.cognitect.aws/mobile "697.2.391.0",
  com.cognitect.aws/mobileanalytics "697.2.391.0",
  com.cognitect.aws/monitoring "716.2.438.0",
  com.cognitect.aws/mq "716.2.438.0",
  com.cognitect.aws/mturk-requester "697.2.391.0",
  com.cognitect.aws/neptune "718.2.446.0",
  com.cognitect.aws/opsworks "697.2.391.0",
  com.cognitect.aws/opsworkscm "719.2.463.0",
  com.cognitect.aws/organizations "722.2.470.0",
  com.cognitect.aws/pi "697.2.391.0",
  com.cognitect.aws/pinpoint "711.2.411.0",
  com.cognitect.aws/pinpoint-email "722.2.466.0",
  com.cognitect.aws/pinpoint-sms-voice "701.2.394.0",
  com.cognitect.aws/polly "716.2.439.0",
  com.cognitect.aws/pricing "697.2.391.0",
  com.cognitect.aws/quicksight "712.2.419.0",
  com.cognitect.aws/ram "697.2.391.0",
  com.cognitect.aws/rds "722.2.467.0",
  com.cognitect.aws/rds-data "722.2.466.0",
  com.cognitect.aws/redshift "716.2.438.0",
  com.cognitect.aws/rekognition "712.2.419.0",
  com.cognitect.aws/resource-groups "716.2.441.0",
  com.cognitect.aws/resourcegroupstaggingapi "697.2.391.0",
  com.cognitect.aws/robomaker "722.2.464.0",
  com.cognitect.aws/route53 "718.2.442.0",
  com.cognitect.aws/route53domains "697.2.391.0",
  com.cognitect.aws/route53resolver "697.2.391.0",
  com.cognitect.aws/runtime-lex "697.2.391.0",
  com.cognitect.aws/runtime-sagemaker "697.2.391.0",
  com.cognitect.aws/s3 "722.2.468.0",
  com.cognitect.aws/s3control "718.2.446.0",
  com.cognitect.aws/sagemaker "718.2.452.0",
  com.cognitect.aws/sdb "697.2.391.0",
  com.cognitect.aws/secretsmanager "707.2.405.0",
  com.cognitect.aws/securityhub "722.2.465.0",
  com.cognitect.aws/serverlessrepo "712.2.420.0",
  com.cognitect.aws/servicecatalog "722.2.466.0",
  com.cognitect.aws/servicediscovery "697.2.391.0",
  com.cognitect.aws/shield "704.2.397.0",
  com.cognitect.aws/signer "697.2.391.0",
  com.cognitect.aws/sms "697.2.391.0",
  com.cognitect.aws/snowball "697.2.391.0",
  com.cognitect.aws/sns "718.2.444.0",
  com.cognitect.aws/sqs "697.2.391.0",
  com.cognitect.aws/ssm "722.2.470.0",
  com.cognitect.aws/states "707.2.409.0",
  com.cognitect.aws/storagegateway "722.2.468.0",
  com.cognitect.aws/streams-dynamodb "697.2.391.0",
  com.cognitect.aws/sts "722.2.464.0",
  com.cognitect.aws/support "697.2.391.0",
  com.cognitect.aws/swf "697.2.391.0",
  com.cognitect.aws/textract "718.2.442.0",
  com.cognitect.aws/transcribe "722.2.464.0",
  com.cognitect.aws/transfer "718.2.445.0",
  com.cognitect.aws/translate "697.2.391.0",
  com.cognitect.aws/waf "722.2.464.0",
  com.cognitect.aws/waf-regional "719.2.462.0",
  com.cognitect.aws/workdocs "707.2.408.0",
  com.cognitect.aws/worklink "719.2.461.0",
  com.cognitect.aws/workmail "718.2.449.0",
  com.cognitect.aws/workspaces "718.2.443.0",
  com.cognitect.aws/xray "718.2.447.0"}}
