name: Release
permissions:
  contents: write

on:
  workflow_dispatch:

jobs:

  release:
    name: 'Publish to Maven Central'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
      with:
        fetch-depth: 0
        ssh-key: ${{secrets.AWS_API_DEPLOY_PRIVATE_KEY}}

    - name: Set Github identity
      run: |
        git config --global user.name nubank-cicd
        git config --global user.email "nubank-cicd@users.noreply.github.com"

    - uses: actions/setup-java@v5.1.0
      with:
        distribution: 'temurin'
        java-version: 21
        cache: 'maven'
        server-id: central
        server-username: MAVEN_CENTRAL_TOKEN
        server-password: MAVEN_CENTRAL_TOKEN_PASSWORD
        gpg-private-key: ${{ secrets.COGNITECT_SECRET_GPG_KEY }}
        gpg-passphrase: COGNITECT_SECRET_GPG_KEY_PASSPHRASE

    - name: Install clojure
      uses: DeLaGuardo/setup-clojure@13.5
      with:
        cli: '1.12.4.1582'

    - name: Publish to Maven OSS Server
      run: ./build/release
      env:
        MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
        MAVEN_CENTRAL_TOKEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_TOKEN_PASSWORD }}
        COGNITECT_SECRET_GPG_KEY_PASSPHRASE: ${{ secrets.COGNITECT_SECRET_GPG_KEY_PASSPHRASE }}
